.Background {
  background-color: #eee;
  height: 100vh;
}

.Container {
  padding: 100px 200px 100px 200px;
  display: flex;
  justify-content: center;
}

.Card {
  background-color: #fff;
  border-radius: 4px;
  padding: 24px;
  width: 40vw;
  box-shadow: 0 0 3px 0 #D0D2D6;
}

.horizontalRule {
  margin: 0;
  color: #D0D2D6;
}

.listText {
  margin: 8px 0;
}

p {
  margin: 0;
}

.tabIcon {
  width: 24px;
  height: auto;
  margin: 8px auto;
}
