h1, h3 {
  font-family: Helvetica,sans-serif;
  font-weight: bold;
  color: #444751;
}

p {
  font-family: 'Roboto',Helvetica,sans-serif;
  margin: 0;
  color: #444751;
}

.addCircle {
  font-size: 2em;
  margin-bottom: 10px;
}

.background {
  background-color: #eee;
  height: 100%;
}

.container {
  padding: 100px 200px 100px 200px;
  display: flex;
  justify-content: center;
}

.card {
  background-color: #fff;
  border-radius: 4px;
  padding: 24px;
  width: 50%;
  box-shadow: 0 0 3px 0 #D0D2D6;
}

.horizontalRule {
  margin: 0;
  color: #D0D2D6;
}

.listText {
  margin: 8px 0;
}

.loanCard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #D0D2D6;
  padding: 32px;
}

.marginText {
  margin-bottom: 10px;
}

.smallIcon {
  color: #D9A380;
  width: 100px;
}

.tabIcon {
  width: 24px;
  height: auto;
  margin: 8px auto;
}
